<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LFWB Push</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script>
        console.log('init script');
        var myToken = '';

        // sleep time expects milliseconds
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

async function demo() {
  console.log('init firebase...');
  await sleep(800);
  defaultMessaging.requestPermission().then(function() {
        console.log('Notification permission granted.');
        // TODO(developer): Retrieve an Instance ID token for use with FCM.
        // ...
    }).catch(function(err) {
        console.log('Unable to get permission to notify.', err);
    });

}
demo();

function testClick() {
defaultMessaging.getToken().then(function(currentToken) {
  if (currentToken) {
    myToken = currentToken;
    console.log(currentToken);
    //sendTokenToServer(currentToken);
    //updateUIForPushEnabled(currentToken);
  } else {
    // Show permission request.
    console.log('No Instance ID token available. Request permission to generate one.');
    // Show permission UI.
    updateUIForPushPermissionRequired();
    setTokenSentToServer(false);
  }
}).catch(function(err) {
  console.log('An error occurred while retrieving token. ', err);
  //showToken('Error retrieving Instance ID token. ', err);
  //setTokenSentToServer(false);
}).then(function (value) {
    console.log('button was clicked');
            console.log("myToken: " + myToken);
            $.get("",
                {
                  token: myToken
                },
                function(data,status){
                    //alert("Data: " + data + "\nStatus: " + status);
                    alert('Thank for registration! Token was sent to push-server. Restart your browser now...');
                });
});

            /*console.log('button was clicked');
            console.log("myToken: " + myToken);
            $.get("",
                {
                  name: "Donald Duck",
                  city: "Duckburg",
                  token: myToken
                },
                function(data,status){
                    //alert("Data: " + data + "\nStatus: " + status);
                });*/
}
    </script>

    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
    <script>
      // Initialize Firebase
      // TODO: Replace with your project's customized code snippet
      var config = {
        apiKey: "AIzaSyBFuezPENjADoA9F0Jrk3ACh5sGyCZvwqg",
        authDomain: "lfwb-2e5f2.firebaseapp.com",
        projectId: "lfwb-2e5f2",
        messagingSenderId: "655355293720",
      };
      firebase.initializeApp(config);
    </script>

    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-messaging.js"></script>

    <script>
      var pushMessagingConfig = {
        apiKey: "AIzaSyBFuezPENjADoA9F0Jrk3ACh5sGyCZvwqg",
        authDomain: "lfwb-2e5f2.firebaseapp.com",
        projectId: "lfwb-2e5f2",
        messagingSenderId: "655355293720",
      };
      var defaultApp = firebase.initializeApp(pushMessagingConfig);

console.log(defaultApp.name);  // "[DEFAULT]"

// You can retrieve services via the defaultApp variable...
var defaultMessaging = defaultApp.messaging();
    </script>

</head>
<body>
    <button type="button" class="btn btn-danger" onclick="testClick()">Тестовая подписка</button>
    <div class="btn-group login" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">Зайти</button>
        <button type="button" class="btn btn-primary">Регистрация</button>
    </div>
    <br><br>
    <h1>Состояние серверов:</h1>
        <div class="server">
            <span class="server-name">Interzone</span>
            <span class="server-status">Currently playing, there are 3 players</span>
        </div>
    <p>Инфа о миграциях(карусель):</p>
        <div class="card text-white bg-primary mb-3 migrations" style="max-width: 18rem;">
        <div class="card-header">Идет миграция! (Ruzone)</div>
        <div class="card-body">
            <h5 class="card-title">Статистика:</h5>
            <p class="card-text">Смертей 20/50</p>
            <p class="card-text">Кризис: вода отравлена</p>
            <p class="card-text">Доминирующие семьи: Картофелины (47 хромосом)</p>
        </div>
    </div>
    <h1>Подписаться на push-уведомления:</h1>
    <blockquote class="blockquote">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>

    <div class="card bg-light mb-3 settings" style="max-width: 18rem;">
        <div class="card-header">Настройки оповещений</div>
    <div class="card-body">
        <p class="card-text">Можно настроить тип раундов, при которых будут приходить уведомления, привязанные устройства, на которые они будут приходить, а так же диапазон дозволенного для оповещения времени</p>
        <div class="btn-group-wrap">
        <form class="was-validated">
          <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
              <label class="custom-control-label" for="customControlValidation1">Обычные раунды</label>
          </div>
        </form>
        <form class="was-validated">
          <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customControlValidation2" required>
              <label class="custom-control-label" for="customControlValidation2">Миграции</label>
          </div>
        </form>
    </div>
    </div>
    </div>

</body>
</html>